.nav-item {
    color: rgb(42, 137, 192);
    padding-top: 15px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-style: italic;
    /* border-style: solid; */
    /* border-color: rgb(195, 235, 229); */
    /* background-color: "#b5e987" */
}

.navbar {
    background-color: "#f5ee21";
    margin-right: -10px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    padding-left: 50px
}

.navbar p {
     padding-top: 12px;
     padding-right: 10px;
     color: rgb(42, 137, 192);
     font-family: 'Montserrat', sans-serif;
     font-style: italic;
     font-size: 14px;
}

/* .navbar button {

} */
