.card {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:-15px;
    border-style: solid;
    border-color: rgb(195, 235, 229);
    background-color: "#b5e987"
    
}

.card-body {
    font-size: 12px;
    padding-top: 16px;
}

.card-title {
    font-size: 15px;
    font-style: italic;
}

.card-subtitle {
    font-size: 13px;
}

.img {
    width: 260px;
    height: 260px;
}

.upper {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 230px;
    /* text-overflow: ellipsis; */
}